@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap');

.app {
  font-family: 'Lato';
}

.cta-button {
  background-color: #c4996c !important;
  border: none !important;
  padding: 15px 30px !important;
  font-size: 1.2em !important;
  cursor: pointer !important;
}

.store-section,
.about-section,
.location-section,
.contact-section {
  padding: 2rem !important;
}

.location-map {
  height: 400px !important;
  width: 100% !important;
  margin-top: 20px !important;
}

